body{
    background-color: #F5EEDC;
    margin: 0;
    font-family: Arial, sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    background-color: #5C4033;
    position: sticky;
    top: 0;
}

.main-links {
    display: flex;
    gap: 40px;
}

.main-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links{
    display: flex;
    gap: 30px;
}

.roundButton{
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.admin{
    background-color: white;
    color: #5C4033;
    font-size: smaller;
}

.profile-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-container > * {
    margin: 0;
    padding: 0;
    line-height: 1;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.search{
    text-align: center
}

button {
    padding: 10px 15px;
    background-color: #5C4033;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}

button:hover, .roundButton:hover {
    background-color: #7B5A46;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

table th {
    background-color: #5C4033;
    color: white;
}