body {
    background-color: #F5EEDC;
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    padding: 15px 20px;
    background-color: #5C4033;
}

.main-links {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links{
    display: flex;
    gap: 30px;
}

h2 {
    margin-bottom: 20px;
    text-align: center;
}

.roundButton{
    padding: 8px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: bold;
}

.roundButton:hover{
    border-radius: 25px;
    background-color: rgba(255,255,255,0.2);
}
.search{
    text-align: center
}
input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 200px;
}
button {
    padding: 10px 15px;
    background-color: #5C4033;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #7B5A46;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}
table th, table td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
table th {
    background-color: #5C4033;
    color: white;
}